<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>User</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <h1 data-position="header">May Node and Express be with you.</h1>

  <section data-position="add-user">
    <h2>Add user</h2>

    <form action="/user" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="user" name="user" />
      <button type="submit">Submit</button>
    </form>
  </section>

  <section data-position="update-user">
    <div>
      <h2>Darth Vadar invades!</h2>
      <p>
        Replace first Yoda's user with a user written by Darth Vadar
      </p>
      <button id="update-button">Replace Yoda's user</button>
    </div>
  </section>

  <section data-position="delete-user">
    <div>
      <h2>Remove Darth Vadar!</h2>
      <p>
        Delete one Darth Vadar's user. Does nothing if there are no more
        Darth Vadar's user
      </p>
      <button id="delete-button">Delete Darth Vadar's user</button>
    </div>
    <div id="message"></div>
  </section>

  <section data-position="user">
    <h2>user</h2>

    <ul class="user">
      <% for(var i=0; i < user.length; i++) {%>
        <li class="user">
          <span>
            <%= user[i].name %>
          </span>:
          <span>
            <%= user[i].user %>
          </span>
        </li>
        <% } %>
    </ul>
  </section>

  <script src="/main.js"></script>
</body>

</html>